<div class="homePage">
    <h1>Bienvenido a la práctica de Angular con sistema CRUD</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc
        purus, sollicitudin at maximus sed, tincidunt at odio. Mauris quis erat
        laoreet, tristique nibh sed, laoreet mauris. Interdum et malesuada fames
        ac ante ipsum primis in faucibus. Proin eget urna tempor, imperdiet
        lorem id, pulvinar lorem. Etiam in mattis lorem. Sed odio arcu,
        fermentum ut est et, commodo pulvinar augue. Proin vel velit at leo
        tempus scelerisque non consectetur nisi. Praesent in tristique velit.
        Nullam vitae efficitur turpis. Integer consequat sapien in leo gravida,
        tincidunt pulvinar nunc condimentum.
    </p>

    <button
        [appBasicButton]="colorPrimary"
        [routerLink]="['/table']"
        routerLinkActive="router-link-active"
    >
        Ir a Tabla
    </button>
</div>
