/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
table {
    width: 100%;
    font-family: 'Arial';
}
table tbody tr:nth-child(2n) {
    background-color: rgb(251, 133, 0, 10%);
}
table thead tr th {
    background-color: rgb(251, 133, 0);
    padding: 10px;
    font-size: 14px;
}
table tbody tr td {
    padding-left: 10px;
}
