<div class="seccionBoton">
    <button [appBasicButton]="colorPrimary">Crear</button>
</div>
<div class="seccionTabla">
    <table>
        <thead>
            <tr>
                <th style="width: 350px">ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Total</th>
                <th style="width: 10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (car of carsResource.value(); track car.id) {
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.total }}</td>
                    <td style="text-align: center">
                        <button
                            class="botonAcciones"
                            [appBasicButton]="colorSecondary"
                            [cdkMenuTriggerFor]="menu"
                        >
                            Acciones
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<ng-template #menu>
    <div class="example-menu" cdkMenu>
        <button
            cdkMenuItemCheckbox
            class="example-menu-item"
            [cdkMenuItemChecked]="bold"
            (cdkMenuItemTriggered)="bold = !bold"
        >
            Bold
        </button>
        <button
            cdkMenuItemCheckbox
            class="example-menu-item"
            [cdkMenuItemChecked]="italic"
            (cdkMenuItemTriggered)="italic = !italic"
        >
            Italic
        </button>
    </div>
</ng-template>
